:root {
    --blue: #004079;
    --light-blue: #145592;
    --very-light-blue: #eff3ff;
}

html {
    font-size: 62.5%;
    background-color: var(--very-light-blue);

}

* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    padding: 0;
}

#h2 {
    text-align: center;
    margin-top: 2rem;
}

main {
    background-color: var(--very-light-blue);
}    

.map-container {
    box-shadow: 0px 0px 4px 0px black;
    margin: 1rem auto 2rem;
    z-index: 1;
    width: 75%;
}

iframe {
    width: 100%;
}

@media (max-width: 768px) {
    .map-container {
        width: 100vw;
        height: 100vh;
    }
}