:root {
    --red: #FA1A0F;
    --dark-red: #B02921;
    --very-light-blue: #eff3ff;
    --blue: #004079;
    --dark-blue: #001a31;
    --yellow: #EBFA28;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    padding: 0;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: var(--very-light-blue);
}

nav {
    height: 5rem;
    background: var(--blue);
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

label.logo {
    font-size: 3rem;
    line-height: 5rem;
    padding: 0 2rem;
    font-weight: bold;
    z-index: 1;
}

label.logo a {
    list-style-type: none;
    text-decoration: none;
    color: var(--red);
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 5rem;
    margin: 0 .3rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--very-light-blue);
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    border-radius: 3px;
}

nav ul li a.active, nav ul li a:hover, .footer-menu-item:hover {
    transition: 0.5s;
    background-color: var(--dark-blue);
    color: var(--very-light-blue);
}

.checkbtn {
    font-size: 3rem;
    color: var(--very-light-blue);
    float: right;
    line-height: 5.5rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.cards-container {
    padding: 2rem 0 2rem;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 30%));
    grid-auto-rows: 1fr;
    gap: 2rem;
    justify-content: center;
}

.cards-container p {
    font-size: 1.4rem;
}

.card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 4px 0px black;
}

.card img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.01);
    transition: all 300ms;
}

.card-price {
    height: 4rem;
    padding: 0.6rem;
    background-color: #004079;
}

.card-price p {
    color: var(--very-light-blue);
    line-height: 3rem;
}

.card-p {
    padding: 0.6rem;
}

#h2 {
    font-size: 1vw;
    color: var(--red);
    text-align: center;
    margin-top: 2rem;
}

.map-container {
    box-shadow: 0px 0px 4px 0px black;
    margin: 1rem auto 2rem;
    z-index: 1;
    width: 75%;
}

iframe {
    width: 100%;
}

footer {
    padding: 0.4rem;
    min-height: 6rem;
    font-size: 1.6rem;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-menu-container {
    color: var(--very-light-blue);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-menu-container span {
    margin: 1rem 3.5rem;
    opacity: 0.9;
}

.footer-menu-container a {
    color: var(--very-light-blue);
    list-style-type: none;
    text-decoration: none;
}

.footer-menu-item {
    margin: 1rem 3.5rem;
    padding: .2rem .8rem;
    opacity: 0.9;
    border-radius: 3px;
}

.wa-icon {
    padding: 0;
    position: fixed;
    bottom: 1rem;
    right: 0;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 2;
}

.wa-icon img {
    width: 40px;
    height: 40px;
}

.wa-icon img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 5rem;
    }
    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        z-index: 1;
    }
    nav ul {
        position: fixed;
        top: 0;
        margin-top: 5rem;
        width: 100%;
        height: 100vh;
        background: var(--dark-blue);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;
    }
    nav ul li a {
        font-size: 2rem;
    }
    a:hover, a.active {
        background: none;
        color: var(--red);
        text-transform: uppercase;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 368px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        min-width: 310px;
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0rem;
    }
    .footer-menu-container span, .footer-menu-container a {
        width: 100%;
        text-align: center;
    }
}

/* Banner */
.banner-1 {
    width: 100%;
    height: 250px;
    animation: banner-1 12s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-1 {

    1%, 33% {
        background-image: url(../Assets/Cerdo/cerdo.jpg);
    }
    34%, 66% {
        background-image: url(../Assets/Carousel/carousel2.jpg);
    }
    67%, 100% {
        background-image: url(../Assets/Otros/aceites.jpeg);
    }

}

.banner-2 {
    width: 100%;
    height: 250px;
    animation: banner-2 14s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-2 {
    1%, 33% {
        background-image: url(../Assets/Vacunos/vacunos2.jpeg);
    }
    34%, 66% {
        background-image: url(../Assets/Carousel/carousel2.jpg);
    }
    67%, 100% {
        background-image: url(../Assets/Aves/pollo.jpg);
    }
}

.banner-3 {
    width: 100%;
    height: 250px;
    animation: banner-3 10s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-3 {
    1%, 33% {
        background-image: url(../Assets/Cerdo/cerdo2.jpg);
    }
    34%, 66% {
        background-image: url(../Assets/Carousel/carousel2.jpg);
    }
    67%, 100% {
        background-image: url(../Assets/Carousel/carousel3.jpg);
    }
}

.banner-4 {
    width: 100%;
    height: 250px;
    animation: banner-4 11s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-4 {
    1%, 33% {
        background-image: url(../Assets/Otros/huevos.jpg);
    }
    34%, 66% {
        background-image: url(../Assets/Carousel/carousel2.jpg);
    }
    67%, 100% {
        background-image: url(../Assets/Carousel/carousel3.jpg);
    }
}

.banner-5 {
    width: 100%;
    height: 250px;
    animation: banner-5 15s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-5 {
    1%, 33% {
        background-image: url(../Assets/Carousel/carousel1.jpg);
    }
    34%, 66% {
        background-image: url(../Assets/Otros/aceites.jpeg);
    }
    67%, 100% {
        background-image: url(../Assets/Carousel/carousel3.jpg);
    }
}

.banner-6 {
    width: 100%;
    height: 250px;
    animation: banner-6 16s infinite linear;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
@keyframes banner-6 {
    1%, 33% {
        background-image: url(../Assets/Carousel/carousel1.jpg);
    }
    34%, 66% {
        background-image: url(../Assets/Carousel/carousel2.jpg);
    }
    67%, 100% {
        background-image: url(../Assets/Carousel/carousel3.jpg);
    }
}
/* Banner ends */

/* ----------------------------------------------
 * Generated by Animista on 2022-10-14 18:38:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 .shake-vertical {
	-webkit-animation: shake-vertical 0.8s steps(5, start) 5s both;
	        animation: shake-vertical 0.8s steps(5, start) 5s both;
}

 @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  